#hero-header-contato{
    background: linear-gradient(
                0deg,
                rgba(255, 160, 0, 0.3),
                rgba(255, 160, 0, 0.3)
              ),
              url(../images/contato-header.png);
    height: 405px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #hero-header-contato  h2 {
   width: 433px;
   height: 70px;
   color:#FDFDFD;
   font-weight: 700;
   font-size: 70px;
   line-height: 1.4;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36); 
   float: left;
   margin: 70px 100px;
 }

 #form{
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 50px 0;
 }

 .box-form{
    box-sizing: border-box;
    width: 820px;
    height: 766px;
    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 20px;
    text-align: left;
    margin: 10px; /* separa o form da imagem */
 }

 .box-form h3 {
     margin:60px;
     font-size: 40px;
     font-weight: 700;
     color: #ffc107;
 }

 .box-form input, textarea{
  margin: 20px 0 0 60px;
  padding: 20px;
  border: 2px solid #ffc107;
  border-radius: 5px 5px;
  outline-color: #FFA000; /* define a cor da borda quando o elemento está em foco */    
 }

 .box-form button{
    background-color: #ffc107;
    margin: 20px 0 0 60px ;
    height: 45px;
    width: 140px;
    border: 2px solid #ffc107;
    border-radius: 50px 50px;
    outline-color: #FFA000; /* define a cor da borda quando o elemento está em foco */
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #FDFDFD;
    padding: 10px 10px;    
 }
